.icons{
    display: flex;
    align-items: center;
}
input[type=submit] {
    visibility: collapse;
}
.attach,  .fileLabel, input[type=file], .position{
    height: 24px;
    width: 24px;
    margin-right: 10px;
}
.attach{
    background-image: url("../../images/attachment_24_px.svg");
}
.position{
    background-image: url("../../images/baseline-my_location-24px.svg");
}
.emoji{
    background-image: url("../../images/round-face-24px.svg");

}
.icon, .indicator_on, .indicator_off{
    height: 24px;
    width: 24px;
    margin: 3px;
}
.file {
    visibility: hidden;
}
.forminput {
    width: 360px;
    height: 56px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    width: 300px;
    height: 80%;
}
.indicator_on{
    background-image: url("../../images/baseline-check-24px.svg");
}
.indicator_off{
    background-image: url("../../images/baseline-close-24px.svg");
}
.filelabel{
    height: 30px;
    width: 30px;
}
.emojiPanel{
    position: absolute;
    top: 600px;
}
.pulse:hover{
    animation: none;
}
.hidden{
    border: 0px;
}
.input:focus{
    background-color: #ce93d8;
    transition: background-color 4s;
}
.pulse {
    cursor: pointer;
    box-shadow: 0 0 0 rgba(153, 0, 255, 0.4);
    animation: pulse 1s infinite;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(153, 0, 255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(153, 0, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(153, 0, 255, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(153, 0, 255, 0.4);
        box-shadow: 0 0 0 0 rgba(153, 0, 255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(153, 0, 255, 0);
        box-shadow: 0 0 0 10px rgba(153, 0, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(153, 0, 255, 0);
        box-shadow: 0 0 0 0 rgba(153, 0, 255, 0);
    }
}