.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vk_auth{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.vk_img{
   height: 64px;
    width: 64px;
    position: center;
    margin: 0px;
    background: url('../../images/vk.png');
}
.vk_label{
    margin-top: 20px;
    color: black;
}
